{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% trans "Student Optionals Management" %}{% endblock %}</title>

    <!-- insert CSS here -->
    <link rel="stylesheet" href="/static/css/tpopmag.css" type="text/css">

    <!-- insert JS here -->
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/tpopmag.js"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>

    <div id="header">
        {% block header%}
        <div id='header-content'>
        <div id="admin"><a href="/admin/">Admin</a></div>
        <ul id="language">
            <li><a href="#" id="us"><img src="/static/images/us-flag.png" /></a></li>
            <li><a href="#" id="ro"><img src="/static/images/ro-flag.png" /></a></li>
        </ul>
        <img src="/static/images/logo.png"/>
        <h1>{% trans "Student Optionals Management" %}<h1>
        </div>
        {% endblock%}
    </div>

    <div id="navigation">
        {% block navigation %}
        <ul id="menu">
            <li><a href="/" class="selected">{% trans "Home" %}</a></li>
            <li><a href="/students/">{% trans "Students" %}</a></li>
            <li><a href="/optionals/">{% trans "Optionals" %}</a></li>
        <ul>
        {% endblock %}
    </div>

    <div class="content">
        <div id="content-wrapper">
        {% block content %}
        <div id="description">
            <div id='text'>
            {% trans "The project consists of offering a management system for student options for optional curses. The functional requirements are:" %}
            <ul>
                <li>{% trans "Import students from Excel spreadsheets" %}</li>
                <li>{% trans "Model faculty structure (section, year, etc)" %}</li>
                <li>{% trans "Administration for students, sections, years, optional courses" %}</li>
                <li>{% trans "Possibility to redistribute students based on different criteria" %}</li>
            </ul>
            </div>
        </div>
        {% endblock %}
        </div>
    </div>

    <div id="footer">
    {%block footer %}
        <div id="footer-content">
            <p>{% trans "Made by" %} Andras Hunor, Breaz Adrian, Burca Vlad, Craculeac Roxana, Dabija Ovidiu, Fikl Alexandru, Jucu Ioana</p>
            <p>{% trans "Project can be found on" %} <a href="http://bitbucket.org/ahunor/tpopmag/overview" target="_blank">BitBucket</a></p>
        </div>
    {% endblock %}
    </div>

</body>
</html>