{% extends 'base.html' %}
{% load i18n %}

{% block navigation %}
    <ul id="menu">
        <li><a href="/">{% trans "Home" %}</a></li>
        <li><a href="/students/">{% trans "Students" %}</a></li>
        <li><a href="/optionals/" class="selected">{% trans "Optionals" %}</a></li>
    <ul>
{% endblock %}

{% block content %}
<div id="content-wrapper">
    <div id="description">
        <div id='text'>
            TODO
        </div>
    </div>
</div>
{% endblock %}