{% extends 'base.html' %}
{% load i18n %}

{% block navigation %}
    <ul id="menu">
        <li><a href="/">{% trans "Home" %}</a></li>
        <li><a href="/students/" class="selected">{% trans "Students" %}</a></li>
        <li><a href="/optionals/">{% trans "Optionals" %}</a></li>
    <ul>
{% endblock %}

{% block content %}
<div id="content-students">
    <form action="/upload/" method="post" enctype="multipart/form-data" id='file-upload'>
        {{ form }} <input type="submit" value="Upload" id="submit"/>
    </form>
    <br />
    <div id='uplmsg'>
    <p style="float:right;color:#a3a3a3">{{ success }}</p>
    </div>
    <table id="student-table" cellspacing="2" width="100%" style="margin-top:10px;">
        <tr>
            <td width="5%">{% trans "ID" %}</td>
            <td width="30%">{% trans "Student Name" %}</td>
            <td width="10%">{% trans "CNP" %}</td>
            <td width="15%">{% trans "Email" %}</td>
            <td width="20%">{% trans "Faculty" %}</td>
            <td width="20%">{% trans "Section" %}</td>
        </tr>
        {% for student in student_list %}
        <tr>
            <td width="5%">{{student.nStudentID}}</td>
            <td width="30%">{{student.sStudentName}}</td>
            <td width="10%">{{student.sStudentCNP.format('d')}}</td>
            <td width="15%">{{student.sStudentEmail}}</td>
            <td width="20%">{{student.sStudentSection.sFaculty.sFacultyName}}</td>
            <td width="20%">{{student.sStudentSection.sSectionName}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}