/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  General CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

a {
    text-decoration:none;
    outline:0px;
}

li {
    list-style: none;
}

/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Header CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

#header {
    height:130px;
    border-bottom: 2px solid #43CDF7;
}

#header-content {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

#header-content > * {
    float:left;
}

#header-content h1 {
    margin-top: 40px;
}

#admin {
    font-size:12px;
    float:right;
}

#admin a {
    background: transparent url('/static/images/admin.png') no-repeat;
    color: #43CDF7;
    padding: 0px 5px 5px 22px;
}

#admin a:hover {
    color: #43CDF7;
    text-decoration:underline;
}

#language {
    float:right;
    margin-top: 20px;
    margin-right: -46px;
}

#language li {
    margin-top: 5px;
}

/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Navigation CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

#navigation {
    font-weight:bold;
    color: #5B5DE3;
    border-bottom: 2px solid #43CDF7;
}

#menu {
    border: 2px solid #43CDF7;
    border-top:0px;
    border-bottom:0px;
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#menu li {
    margin-right: 30px;
    display: inline;
}

#menu a.selected {
    color:#000;
}

#menu a.selected:hover {
    color:#000;
    text-decoration:underline;
}

#menu a {
    color: #5B5DE3;
}

#menu a:hover {
    color: #5B5DE3;
    text-decoration:underline;
}

/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Content Navigation CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

#content-wrapper {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#faculties li{
    list-style:none;
    display: inline;
}

#sections ul li {
    list-style:none;
    display: inline;
}



/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Content CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */


#description {
    margin-bottom:70px;
    margin-top:10px;
    height: 300px;
    border: 2px solid #43CDF7;
    text-align:center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#file-upload {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    float:right;
}

#content-students {
    margin-bottom:70px;
    margin-top:10px;
    height: 300px;
    border: 2px solid #43CDF7;
    text-align:center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#student-table td{
    border: 1px solid #000;
}

#description li {
    margin-top:7px;
    list-style:none;
    font-weight:bold;
}

/*
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                  Footer CSS
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 */

#footer {
    border-top: 2px solid #43CDF7;
    text-align:center;
}

#footer-content {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    color:#000;
}

#footer a {
    color: #5B5DE3;
}

#footer a:hover {
    color: #5B5DE3;
    text-decoration:underline;
}