html, body {
    background-image:url('/static/images/pattern.jpg');
    background-repeat: repeat;
    background-color:#211c20;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    color:#9b9b9b;
    margin: 0;
    padding: 0;
    outline: none;
}

img {
    border: 0;
    text-decoration: none;
    border-style:none;
}

a img {
    border: none;
    outline: none;
}

a { text-decoration:none;outline: none; color: #9b9b9b;}
a:link { text-decoration: none; outline: none; }
a:visited { text-decoration: none; outline: none; }
a:hover { text-decoration: none;outline: none;color: #FFAC1E;}
a:active { text-decoration: none;outline: none;}

ul,li {list-style-type:none;}

h1 {
    text-align:center;
    font-family: monospace;
    padding:20px;
    background-color: #FFAC1E;
    color: #FFF;
    width: 90px;
}

input[type="text"] {
    margin-bottom: 5px;
    padding: 4px;
    width: 250px;
    border: solid 1px #85b1de;
    background-color: #EDF2F7;
}

input[type="button"]{
   height: 28px;
   margin-left: -4px;
}

input[type="text"]:focus
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #FFAC1E;
}

#header{
    border-bottom: 1px dotted #9b9b9b;
}
#content-wrapper {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#navigation {
    height: 60px;
    border-bottom: 1px dotted #9b9b9b;
}

#navigation form {
    margin-top:6px;
    float: right;
}

#content {
    border-bottom: 1px dotted #9b9b9b;
}

#map_canvas {
    border: 4px dotted #9b9b9b;
    width:892px;
    height:500px;
    margin-top: 15px;
    margin-bottom: 15px;
}


